.title h1{
    background-color: rgb(143, 194, 238);
    color: rgb(255, 0, 0);
    padding: 20px;
}

.start{
    color: rgb(0, 0, 0);
}


.hairi{
    color: rgb(0, 0, 0);
}


.reason-1{
    color: rgb(0, 0, 0);
}
.reason-1 h1{
    background-color: rgb(176, 211, 241);
}
.reason-1 h2{
    margin-left: 20px;
}
.reason-1 h3{
    margin-left: 20px;
}


.reason-2{
    color: rgb(0, 0, 0);
}
.reason-2 h2{
    margin-left: 20px;
}
.reason-2 h1{
    background-color: rgb(176, 211, 241);
}


.reason-3{
    color: rgb(0, 0, 0);
}
.reason-3 h2{
    margin-left: 20px;
}
.reason-3 h1{
    background-color: rgb(176, 211, 241);
}



.finish{
    color: rgb(0, 0, 0);
    margin: 20px;
}